*{
  margin: 0;
  padding: 0;
  display: border-box;
}
html{
  font-size: 15px;
}
/* 3 main blocks of the test (question, answers, statistics+mistakes) */
.upper-left, .upper-right{
  grid-row: 1;
  background-color: rgb(232, 236, 206);
}
.upper-left{
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.upper-right{
  grid-column: 2;
  padding-left: 2rem;
  line-height: 3rem;
}
/* Bottom block */
.bottom{
  padding: 1rem;
  grid-row: 2;
  grid-column: 1 / span 2;
  background-color: rgb(251, 209, 209);
  margin-top: 0.5rem;
  font: normal 2rem Arial, serif;
  color: rgb(11, 11, 138);
}
.mistakes {
  color: rgba(140,5,16,1);
  word-spacing: 2rem;
}
/* Question block */
#picture{ /*Question picture*/
  width:100%;
  max-width:300px;
  margin: 1rem;
  align-self: center;
}
.question { /*Question word design*/
  font: normal 5rem "Times New Roman", Times, serif;
  color: rgba(15,4,102,1);
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
  letter-spacing: 2px;
}
.button {/*Submit button design*/
  border: none;
  padding: 16px 32px;
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 16px;
  background-color: #0b5009;
  color: rgb(232, 236, 206);
}
/* Answers list design */
ul{
  margin-top:2rem;
}
ul li input[type=radio]{/*Hide html radio buttons*/
  position: absolute;
  visibility: hidden;
}
ul li label{
  display: block;
  position: absolute;
  font-weight: 600;
  font-size: 3rem;
  padding: 25px 25px 25px 80px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  z-index:2; /*place label over radio-button div to allow click on div itself to seelct option*/
}
ul li .radio-circle::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  z-index:1;
}
/* List items color and design */
ul li{
  color: #7e519c;
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
ul li .radio-circle{
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  border: 5px solid #7e519c;
  border-radius: 100%;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
/* On hover colors */
ul li:hover label{
  color: #d5c4e0;
}
ul li:hover .radio-circle {
  border: 5px solid #d5c4e0;
}
/* Selected answer coloros */
input[type=radio]:checked ~ .radio-circle {
  border: 5px solid #0b5009;
}
input[type=radio]:checked ~ .radio-circle::before{
  background: #0b5009;
}
input[type=radio]:checked ~ label{
  color: #0b5009;
}
/* Adaptive layout styles. Designed for iPad (vertical, horizontal) and iPhone X (vertical) */
/* Mostly adapts font sizes and main 3 block position */
@media (max-width: 1000px){
  html{
    font-size: 10px;}
  main{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px){
  html{
    font-size: 8px;}
  ul li{
    height: 60px;
    line-height: 4rem;
  }
  .upper-right{
    padding-bottom: 2rem;
  }
}
@media (min-width: 401px){
    ul li{
      height: 80px;
    }
    .upper-right{
      padding-bottom: 2rem;
    }
}
@media (min-width: 1001px){
  main {
    display: grid;
    grid-template: auto 1fr/minmax(300px, auto) 1fr;
    height: 100vh;
  }
}